<div class="min-h-screen bg-[var(--color-background)]">
  <app-header />
  
  <div class="container mx-auto px-4 pt-4">
    <!-- <app-navigation-breadcrumbs /> -->
  </div>

  <main>
    <app-hero />

    <app-overview />

    <app-featured-speakers />

    <app-event-agenda />

    <app-workshop-highlights />

    <app-systems-engineering-career />

    <!-- <app-video-testimonials /> -->

    <!-- <app-photo-gallery /> -->

    <app-faqsection />
  </main>

  <app-footer />

  <app-registration-call-to-action />
</div>